<%= render partial: 'layouts/error_form' %>
<div class="profile-container">
  
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <table class="profile-name">
    <tbody>
    
      <tr>
        <td>name</td>
        <td><%= @user.name %></td>
        
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= @user.introduction %></td>
      </tr>
    
  </tbody>
  </table>


<!-- 編集ボタン -->
<% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>


<%= form_for(@book,url: books_path) do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>
</div>

<h1>投稿一覧</h1>
<% @books.each do |book| %>
	<p>タイトル</p>
	<%= link_to book.title, book_path(book) %>
	<%= book.body %>
<% end %>