<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <!-- フォロー機能 -->
        <tr>
          <% @user ||= current_user %>
          <th>following</th>
          <th><%= link_to @user.following.count, following_user_path(@user) %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= link_to @user.followers.count, followers_user_path(@user) %></th>
        </tr>
        <!-- フォロー機能 -->
      </tbody>
    </table>
    <% if user.id == current_user.id %>
      <%= link_to edit_user_path(user) do %>
      <span class = "text-center well glyphicon glyphicon-wrench col-xs-12" aria-hidden="true"></span>
      <% end %>
    <% else %>
      <% if current_user.following?(user) %>
        <%= render 'users/unfollow', user: user %>
      <% else %>
        <%= render 'users/follow', user: user %>
      <% end %>
    <% end %>
    <%= form_for(book,url: books_path) do |f| %>
      <h2>New book</h2>
      <h4>Title</h4>
        <%= f.text_field :title,class: "col-xs-12" %>
        <div style = "margin-top: 40px;">
          <h4>Opinion</h4>
        </div>
          <%= f.text_area :body,class: "col-xs-12" %>
        <br>
        <div  style = "margin-top: 40px;">
          <%= f.submit class:"btn btn-primary col-xs-12" %>
        </div>
    <% end %>
</div>
