
<% if @book.errors.any? %>
	<div class = "alert">
		<h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>
		<ul>
	      <% @book.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	      <% end %>
	    </ul>
	 </div>
<% end %>
<%= render 'books/common_book' ,user:@user,book:@book %>
<table>
	<thead>
		<tr>
			<th colspan = "1"></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td><%= link_to image_tag('no_image.jpg'), user_path(current_user.id) %>
				<td><%= link_to book.title, book_path(book) %></td>
				<td><%= book.body %></td>
			</tr>
		<% end %>
	</tbody>
</table>
