<div class = "row">
	<%= render 'books/common_book' ,user:@user,book:@book %>
	<div class = "col-xs-9">
		<p>Book detail</p>
		<table>
			<tbody>
				<tr>
					<td><%= link_to user_path(current_user.id) do %>
						<%=  attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img pull-left profile-img", fallback: "no_image.jpg" %>
						<% end %>
						<%= link_to @user, books_path(@user.books) %>
					</td>
					<td><%= @book.title %></td>
					<td><%= @book.body %></td>
					<% if user_signed_in? && current_user.id == @book.user_id %>
						<td><%= link_to 'Edit',edit_book_path(@book) %></td>
						<td><%= link_to 'Destroy',book_path(@book), method: :delete %></td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
</div>

